In [37]:
#imports
import numpy as np
import pandas as pd
import tensorflow.compat.v1 as tf
from sklearn import preprocessing
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score

In [38]:
#getting the dataset
df=pd.read_csv(r"C:\Users\Almog\winequality-red.csv")

In [39]:
# checking the empty spots 
df.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [40]:
# ignoting the empty spots
df.dropna(inplace=True)

In [41]:
# showing the first 10 (0-9) rows
df.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [42]:
df.info

<bound method DataFrame.info of       fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
...       ...      ...
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5
1598     11.0        6

[1599 rows x 12 columns]>

In [43]:
# setting up y label
y = df['quality']
y.head()

0    5
1    5
2    5
3    6
4    5
Name: quality, dtype: int64

In [44]:
# setting up x label, aka the features
X = df.drop(['quality'],axis=1)
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [45]:
X = preprocessing.normalize(X)

In [46]:
# getting the x and y train and test
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X ,y, test_size=0.25 ,random_state=1)

In [47]:
x_train.shape

(1199, 11)

In [48]:
x_test.shape

(400, 11)

In [49]:
y_train.shape

(1199,)

In [50]:
y_test.shape

(400,)

In [51]:
y_train = y_train.values.reshape((1199,1))
y_test = y_test.values.reshape((400,1))

In [52]:
y_train.shape

(1199, 1)

In [53]:
y_test.shape

(400, 1)

In [ ]:
#simple linear regression
features = 9
x = tf.placeholder(tf.float32, [None, features])
y_ = tf.placeholder(tf.float32, [None, 1])
W = tf.Variable(tf.zeros([features,1]))
b = tf.Variable(tf.zeros([1]))
y = tf.matmul(x,W) + b
loss = tf.reduce_mean(tf.pow(y - y_, 2))
update = tf.train.GradientDescentOptimizer(0.001).minimize(loss)
sess = tf.Session()
sess.run(tf.global_variables_initializer())
for i in range(0,100000):
    sess.run(update, feed_dict = {x:x_train, y_:y_train})
    if ((i % 10000) == 0) :
        print('Iteration:' , i , ' W:' , sess.run(W) , ' b:' , sess.run(b), ' loss:', loss.eval(session=sess, feed_dict = {x:x_train, y_:y_train}))

In [54]:
#simple logistic regression
features = 11
x = tf.placeholder(tf.float32, [None, features])
y_ = tf.placeholder(tf.float32, [None, 1])
W = tf.Variable(tf.zeros([features,1]))
b = tf.Variable(tf.zeros([1]))
y = tf.nn.sigmoid(tf.matmul(x,W) + b)
loss = tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(logits=tf.add(tf.matmul(x, W), b), labels=y_))

#correct_prediction = tf.equal(tf.argmax(y, 1),tf.argmax(y, 1)) 
#accuracy = tf.reduce_mean(tf.cast(correct_prediction,tf.float32))

update = tf.train.GradientDescentOptimizer(0.00001).minimize(loss)
sess = tf.Session()
sess.run(tf.global_variables_initializer())
for i in range(0,1000):
    sess.run(update, feed_dict = {x:x_train, y_:y_train})
    if i % 100 == 0 :
        print('Iteration:' , i , ' W:' , sess.run(W) , ' b:' , sess.run(b), ' loss:', loss.eval(session=sess, feed_dict = {x:x_train, y_:y_train}))
        #print(" Accuracy:", sess.run(accuracy, feed_dict={x: x_test, y: y_test}))

Iteration: 0  W: [[1.15937137e-05]
 [7.04337424e-07]
 [3.83263256e-07]
 [3.36539028e-06]
 [1.17859635e-07]
 [1.60699110e-05]
 [4.26204861e-05]
 [1.36738504e-06]
 [4.54162364e-06]
 [9.04630724e-07]
 [1.45618724e-05]]  b: [5.1463798e-05]  loss: 0.6926367
Iteration: 100  W: [[1.1706881e-03]
 [7.1120667e-05]
 [3.8700753e-05]
 [3.3982415e-04]
 [1.1900975e-05]
 [1.6226729e-03]
 [4.3036253e-03]
 [1.3807310e-04]
 [4.5859488e-04]
 [9.1346243e-05]
 [1.4704023e-03]]  b: [0.00519658]  loss: 0.64161164
Iteration: 200  W: [[2.3292354e-03]
 [1.4150256e-04]
 [7.7000754e-05]
 [6.7612395e-04]
 [2.3678445e-05]
 [3.2285072e-03]
 [8.5625639e-03]
 [2.7471382e-04]
 [9.1243203e-04]
 [1.8174539e-04]
 [2.9255566e-03]]  b: [0.01033922]  loss: 0.59063554
Iteration: 300  W: [[3.4872352e-03]
 [2.1185006e-04]
 [1.1528327e-04]
 [1.0122650e-03]
 [3.5450284e-05]
 [4.8335716e-03]
 [1.2819437e-02]
 [4.1128969e-04]
 [1.3660534e-03]
 [2.7210204e-04]
 [4.3800254e-03]]  b: [0.01547939]  loss: 0.5397085
Iteration: 400  W: [[4.6446882e-03]
 [2.8216321e-04]
 [1.5354832e-04]
 [1.3482469e-03]
 [4.7216479e-05]
 [6.4378688e-03]
 [1.7074248e-02]
 [5.4780056e-04]
 [1.8194588e-03]
 [3.6241635e-04]
 [5.8338088e-03]]  b: [0.02061707]  loss: 0.48883063
Iteration: 500  W: [[5.8015953e-03]
 [3.5244192e-04]
 [1.9179590e-04]
 [1.6840704e-03]
 [5.8977046e-05]
 [8.0413995e-03]
 [2.1326993e-02]
 [6.8424677e-04]
 [2.2726487e-03]
 [4.5268825e-04]
 [7.2869062e-03]]  b: [0.02575229]  loss: 0.43800172
Iteration: 600  W: [[6.9579552e-03]
 [4.2268628e-04]
 [2.3002602e-04]
 [2.0197353e-03]
 [7.0731985e-05]
 [9.6441628e-03]
 [2.5577683e-02]
 [8.2062831e-04]
 [2.7256231e-03]
 [5.4291781e-04]
 [8.7393206e-03]]  b: [0.03088503]  loss: 0.38722178
Iteration: 700  W: [[8.11377261e-03]
 [4.92896244e-04]
 [2.68238655e-04]
 [2.35524192e-03]
 [8.24812887e-05]
 [1.12461578e-02]
 [2.98263077e-02]
 [9.56944772e-04]
 [3.17838159e-03]
 [6.33104995e-04]
 [1.01910485e-02]]  b: [0.0360153]  loss: 0.3364908
Iteration: 800  W: [[9.2690419e-03]
 [5.6307192e-04]
 [3.0643394e-04]
 [2.6905898e-03]
 [9.4224997e-05]
 [1.2847388e-02]
 [3.4072891e-02]
 [1.0931966e-03]
 [3.6309254e-03]
 [7.2324986e-04]
 [1.1642095e-02]]  b: [0.0411431]  loss: 0.28580853
Iteration: 900  W: [[0.01042377]
 [0.00063321]
 [0.00034461]
 [0.00302578]
 [0.00010596]
 [0.01444785]
 [0.0383174 ]
 [0.00122938]
 [0.00408325]
 [0.00081335]
 [0.01309246]]  b: [0.04626844]  loss: 0.23517518

In [ ]:
#accuracy = accuracy_score(y_test,y_)
#print(accuracy*100,'%')

In [ ]:
#adding hidden layer and using softmax
features = 9
hidden_layer_nodes = 5
x = tf.placeholder(tf.float32, [None, features])
y_ = tf.placeholder(tf.float32, [None, 1])
W1 = tf.Variable(tf.truncated_normal([features,hidden_layer_nodes], stddev=0.1))
b1 = tf.Variable(tf.constant(0.1, shape=[hidden_layer_nodes]))
z1 = tf.add(tf.matmul(x,W1),b1)
a1 = tf.nn.relu(z1)
W2 = tf.Variable(tf.truncated_normal([hidden_layer_nodes,1], stddev=0.1))
b2 = tf.Variable(0.)
z2 = tf.matmul(a1,W2) + b2
y = 1 / (1.0 + tf.exp(-z2))
loss = tf.reduce_mean(-(y_ * tf.log(y) + (1 - y_) * tf.log( 1 â€“ y)))
update = tf.train.GradientDescentOptimizer(0.0001).minimize(loss)
sess = tf.Session()
sess.run(tf.global_variables_initializer())
for i in range(0,100000):
    sess.run(update, feed_dict = {x:x_train, y_:y_train})
    if i % 10000 == 0 :
        print('Iteration:' , i , ' W:' , sess.run(W) , ' b:' , sess.run(b), ' loss:', loss.eval(session=sess, feed_dict = {x:x_train, y_:y_train}))